# Build
build/*
!build/.gitkeep
compile_commands.json

# Dependencies
dependencies/*
!dependencies/headers
!dependencies/glad
!dependencies/glfw
!dependencies/glm
!dependencies/.gitkeep

dependencies/luau/*
!dependencies/luau/.git

# Cache
.cache

# Locally Generated Documentation
yo
todo
scripts/documentation/api-dump.json
docs/*
!docs/.gitkeep

# IDE
.vs
.vscode